
-#  This file is app/views/general/examples.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 This is the Downloads Files Page

%div{:id => 'center-parent'}

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p Graph Search Downloads 
      %p <br />
      = link_to "graph_search.exe", download_file_path(:file => 'graph_search.exe')
      %p <br />
      = link_to "sample_params.params", download_file_path(:file => 'sample_params.params')


