-#  This file is app/views/general/examples.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 This is the Example Files Page

%div{:id => 'center-parent'}

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p This is where example files will go.

