-#  This file is app/views/general/examples.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 This is the Example Files Page

%div{:id => 'center-parent'}

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p Graph Search Downloads 
      %p <br />
      = link_to("GraphSearch.exe", "/downloads/graph_search.exe") 
      %p <br />
      = link_to("SampleParams.params", "/downloads/rwoo_charge1_l.params") 


