
-#  This file is app/views/general/examples.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 Examples

%div{:id => 'center-parent'}

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p We provide four example datasets using our workflow.  These files were collected at QB3 Mass Spectrometry Facility at the University of California, Berkeley, using an Orbitrap XL.

      %p <br> <b> Example 1.  </b> <br> A model dataset.  A single O-GlcNAcylated protein (alpha crystallin, P02489) was chemoenzymatically labeled1 and tagged with a dibrominated tag (Figure 1).  The entire protein was digested and analyzed by full scan MS.

      %p <br> <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB33298.RAW">ORB33298.RAW</a>
      %p <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB33298_centroid.mzXML">ORB33298_centroid.mzXML</a>

      %p <br> <b> Example 2. </b> <br> A model dataset.  A single O-GlcNAcylated protein (alpha crystallin, P02489) was chemoenzymatically labeled and tagged with a dibrominated tag (Figure 1).  The entire protein was digested and analyzed by tandem MS2. <br>

      %p <br> <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB33545.RAW">ORB33545.RAW</a>
      %p <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB33545_centroid.mzXML">ORB33545_centroid.mzXML</a>

      %p <br>

      = image_tag asset_path("examples1.png")
      <br> <b> Figure 1. </b> Structure of the glycopeptide before and after isotopic recoding in Example 1 and Example 2.

      %p <br> <b> Example 3. </b> <br> A complex dataset.  GalNAz-labeled Jurkat cells were tagged with a cleavable biotin probe, enriched, and digested with trypsin (Figure 2).  The probe was cleaved to yield a highly enriched pool of isotopically recoded glycopeptides.  The isotopically recoded glycopeptides were analyzed by full scan MS.

      %p <br> <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB36015.RAW">ORB36015.RAW</a>
      %p <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB36015_centroid.mzXML">ORB36015_centroid.mzXML</a>
      
      %p <br> <b> Example 4. </b> <br> A complex dataset.  GalNAz-labeled Jurkat cells were tagged with a cleavable biotin probe, enriched, and digested with trypsin.  The probe was cleaved to yield a highly enriched pool of isotopically recoded glycopeptides.  The isotopically recoded glycopeptides were analyzed by full scan MS, and then using an inclusion list, tandem MS2/MS3 spectra were collected. <br>

      %p <br> <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB36728.RAW">ORB36728.RAW</a>
      %p <a href="https://s3-us-west-2.amazonaws.com/massspec/examples/ORB36728_centroid.mzXML">ORB36728_centroid.mzXML</a> 

      %p <br>

      = image_tag asset_path("examples2.png")
      <br> <b> Figure 2. </b> Workflow for sample preparation to obtain datasets in Example 3 and Example 4.


