-#  This file is app/views/general/instructions.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 Instructions

%div{:id => 'center-parent'}
  = render "general/sidebar"

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p <b>GRAPH_SEARCH:</b> Download the params file (LINK)

      %p 1.	Convert RAW file to mzXML in profile mode using ReAdW.
      
      %p{:class => 'indent'} a.	Open a Windows command line (Start -> type cmd in search bar)
      %p{:class => 'indent'} b.	Navigate to the folder containing ReAdW.exe
      %p{:class => 'indent'} c.	Run ReAdW conversion by typing:
      %p{:class => 'indent2'} ReAdW.exe --mzXML yourfile.RAW

      %p <br /> <b>Source for ReAdW:</b> <a href="http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW">http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW</a>

      %p <br /> 2.	Convert mzXML to processed mzXML with CWT_PD (this optimizes peak shape in preparation for the pattern recognition program)
      %p{:class => 'indent'} a.	In Windows command line navigate to the folder containing CWT_PD.exe
      %p{:class => 'indent'} b.	Run CWT_PD by typing:
      %p{:class => 'indent2'} CWT_PD –i yourfile.mzXML –o yourfile_processed.mzXML

      %p <br /> A list of scans as they are being processed will be output on the screen, and a processed mzXML file should be produced at the end.

      %p <br /> 3.	Run graph_search to find patterned species in your file
      %p{:class => 'indent'} a.	In Windows command line navigate to the folder containing graph_search.exe
      %p{:class => 'indent'} b.	Params text file: this is where you can specify what pattern to search for, scoring, etc.
      %p{:class => 'indent'} c.	Run graph_search by typing:
      %p{:class => 'indent2'} graph_search –i yourfile_processed.mzXML –p paramsfile.txt

      %p <br /> Graph search will search your data for patterned species and output different files detailing the hits.

      %p <br /> <b>TAG_FINDER:</b> Download the params file (LINK)

      %p 1.	Convert your file to a centroided mzXML file directly using a conversion software such as ReAdW (type: ReAdW.exe --mzXML –c yourfile.RAW)

      %p <br /> <b>Source for ReAdW:</b> <a href="http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW">http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW</a>

      %p  <br /> 2.	Run tag_finder to find patterned species in your file
      %p{:class => 'indent'} a.	In Windows command line navigate to the folder containing tag_finder.exe
      %p{:class => 'indent'} b.	Tag_finder is defaulted to the dibromide pattern on peptides.  To run tag_finder type: tag_finder.exe yourfile.mzXML
      %p{:class => 'indent'} c.	To output default settings type:
      %p{:class => 'indent2'} tag_finder.exe –g yoursettings.txt
      %p{:class => 'indent2'} <br /> i.	Settings can be edited to change the base pattern (from peptide to other molecule types) and tag pattern (from dibromide to other pattern types)
      %p{:class => 'indent2'} ii.	Settings can be edited for output types and scoring preferences
      %p{:class => 'indent'} <br /> d.	To run tag_finder with your preferred settings type:
      %p{:class => 'indent2'} tag_finder.exe yourfile.mzXML yoursettings.txt

      %p <br /> <b>MS2_Filter:</b> Download the params file (LINK)

      %p 1.	Convert your file to a centroided mzXML file directly using a conversion software such as ReAdW (type: ReAdW.exe --mzXML –c yourfile.RAW)

      %p <br /> <b>Source for ReAdW:</b> <a href="http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW">http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW</a>

      %p <br /> 2.	Run MS2_filter to filter for tandem MS spectra that are from tagged species:
      %p{:class => 'indent'} a.	In Windows command line navigate to the folder containing MS2_filter.exe
      %p{:class => 'indent'} b.	MS2_filter is defaulted to the dibromide pattern and signature fragments for glycopeptides.  To run MS2_filter type: MS2_filter.exe yourfile.mzXML
      %p{:class => 'indent'} c.	To output default settings type:
      %p{:class => 'indent2'} MS2_filter.exe –g yoursettings.txt
      %p{:class => 'indent2'} <br /> i.	Settings can be edited to change the base pattern (from peptide to other molecule types) and tag pattern (from dibromide to other pattern types)
      %p{:class => 'indent2'} <br /> ii.	Settings can be edited to guide for expected fragments (e.g., glycans) with “###” for signature fragments and “–###” for identification of the neutral or charged loss fragments
      %p{:class => 'indent'} d.	To run MS2_filter with your preferred settings type:
      %p{:class => 'indent2'} MS2_filter.exe yourfile.mzXML yoursettings.txt

      %p <br /> TEXT FOR THE INSTRUCTIONS ON UPLOAD PAGE:

      %p <br /> <b>GRAPH_SEARCH:</b> Download the params file (LINK)

      %p 1.	Convert RAW file to mzXML in profile mode using ReAdW.
      %p{:class => 'indent'} a.	Open a Windows command line (Start -> type cmd in search bar)
      %p{:class => 'indent'} b.	Navigate to the folder containing ReAdW.exe
      %p{:class => 'indent'} c.	Run ReAdW conversion by typing:
      %p{:class => 'indent2'} ReAdW.exe --mzXML yourfile.RAW

      %p <br /> <b>Source for ReAdW:</b> <a href="http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW">http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW</a>

      %p <br /> 2.	Upload mzXML file and params file to start CWT_PD and Graph_Search.  You will receive an email when the search completes with a link to your results.

      %p <br /> TAG_FINDER: Download the params file (LINK)

      %p <br /> 3.	Convert your file to a centroided mzXML file directly using a conversion software such as ReAdW (type: ReAdW.exe --mzXML –c yourfile.RAW)

      %p <br /> <b>Source for ReAdW:</b> <a href="http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW">http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW</a>

      %p <br /> Upload mzXML file and params file to start tag_finder.  You will receive an email when the search completes with a link to your results.

      %p <br /> <b>MS2_Filter:</b> Download the params file (LINK)

      %p <br /> 3.	Convert your file to a centroided mzXML file directly using a conversion software such as ReAdW (type: ReAdW.exe --mzXML –c yourfile.RAW)

      %p <br /> <b>Source for ReAdW:</b> <a href="http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW">http://tools.proteomecenter.org/wiki/index.php?title=Software:ReAdW</a>

      %p <br /> Upload mzXML file and params file to start MS2_Filter.  You will receive an email when the search completes with a link to your results.

      = button_to 'Upload Data', new_mass_datum_path, :class => 'center-btn btn', :method => :get
