-#  This file is app/views/results/index.html.haml

%h1 Results

%div{:id => 'center-parent'}
  = render "general/sidebar"

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p This is text for the Finish page
