-#  This file is app/views/results/review.html.haml

%h1 Review and Run

%div{:id => 'center-parent'}
  = render "general/sidebar"

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p= simple_format(@message)
      %div
      = button_to 'Run', post_finish_path, :class => 'center-btn btn', :method => :post, :disabled => @disabled
      
