-#  This file is app/views/general/about.html.haml
-#  To disable buttons, :disabled => 'true'

%h1 This is the About Page

%div{:id => 'center-parent'}

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p This is where we will include info about the lab, citations, publications, and contact info, etc.