-#  This file is app/views/general/review.html.haml

%h1 This is the review page

%div{:id => 'center-parent'}
  = render "sidebar"

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p This is text for the Review And Run page

  %form(method="post" enctype='multipart/form-data' action=upload_path)   
    %input(type='file' name='mass-spec-data')    
    %input(type='submit' value='Upload File')
