-#  This file is app/views/mass_params/index.html.haml

%h1 Create New Params View

%div{:id => 'center-parent'}
  = render "general/sidebar"

  %div{:class => 'card', :id => 'center'}
    %div{:id => 'content'}
      %p This is text for the New Parameters page
    %div
    = button_to 'Next', review_path, :class => 'center-btn btn', :method => :get
